.shopCard {
  border: 1px solid black;
  margin: 20px 0px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(131, 211, 131);
  width: 100%;
  background-color: rgb(206, 254, 206);
}
.shopCard:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.shopTitle {
  margin-left: 20px;
}

.shopDescription {
  margin-left: 20px;
}
